<template name="postItem">
    <div class="col s12 m4 l3">
        <div class="card hoverable">
            <div class="card-image">
                <img class="responsive-img image-url" src="{{imageUrl}}">
                <span class="card-title">{{title}}</span>
                <div class="upvote">
                    <button type="button" id="upvote-button" class="btn waves-effect waves-light white">
                        <i class="badge">{{votes}}</i>
                        <i class="fa fa-arrow-circle-o-up"></i>
                    </button>
                </div>
            </div>
            <div class="card-content truncate">
                <span class="label label-primary waves-effect waves-light category">{{category}}</span>
                <br>
                {{{htmlDescription}}}
            </div>
            <div class="card-action">
                <a href="{{ pathFor 'postPage' }}">
                  <i class="fa fa-search"></i> View
                </a>
                {{#if ownPost }}
                    <a href="{{ pathFor 'postEdit' }}">
                      <i class="fa fa-edit"></i> Edit
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</template>