<template name="postItem">
    <div class="post">
        <a href="#" class="upvote btn {{ upvotedClass }}">⬆</a>
        <div class="post-content">
            <h3>
                <a href="{{url}}">{{title}}</a>
                <span>{{domain}}</span>
            </h3>
            <p>
                {{pluralize votes "Vote"}} <span class="badge">{{ votes }}</span>
                submitted by {{ author }} 
                <a class="btn btn-xs btn-info" 
                   href="{{ pathFor 'postPage'}}">
                    Comments <span class="badge">{{ commentsCount }}</span>
                </a>
                {{# if ownPost }}
                <a class="btn btn-xs btn-success" 
                   href="{{ pathFor 'postEdit' }}">Edit</a>
                {{/ if }}
            </p>
        </div>
        <a class="discuss btn btn-primary"
           href="{{ pathFor 'postPage' }}">Discuss</a>
    </div>
</template>