<template name="postNew">

	<h4 class="page-header">{{_ "posts.create_title"}}</h4>

	{{#autoForm id="postNew" collection="Posts" type="insert" }}
		{{> afQuickField name='imageUrl' placeholder="Introduce the post image URL"}}
		{{> afQuickField name='title' placeholder="Introduce the post title"}}
		{{> afQuickField name='category' }}
	    {{> afQuickField name='description' rows=8  placeholder="Post content description..."}}

	    <br/>
	    <div>
	    	<button type="submit" class="btn green">
	    		<i class="fa fa-floppy-o"></i> {{_ "posts.button_save"}}
    		</button>
    		<a class="btn btn-default" href="{{ pathFor 'home' }}">{{_ "posts.button_back"}}</a>
	    </div>
	{{/autoForm}}
</template>