<template name="shareButtons">
    <!-- I got these buttons from simplesharebuttons.com -->
    <div id="share-buttons">
        
        <!-- Buffer -->
        <a href="https://bufferapp.com/add?url={{postUrl}}&amp;text={{title}}" target="_blank" title="Share on Buffer">
            <img src="/img/share-icons/buffer.png" alt="Buffer" />
        </a>
        
        <!-- Digg -->
        <a href="http://www.digg.com/submit?url={{postUrl}}" target="_blank" title="Share on Digg">
            <img src="/img/share-icons/diggit.png" alt="Digg" />
        </a>
        
        <!-- Email -->
        <a href="mailto:?Subject={{title}}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{postUrl}}" title="Share on Email">
            <img src="/img/share-icons/email.png" alt="Email" />
        </a>
     
        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer.php?u={{postUrl}}" target="_blank" title="Share on Facebook">
            <img src="/img/share-icons/facebook.png" alt="Facebook" />
        </a>
        
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url={{postUrl}}" target="_blank" title="Share on Google">
            <img src="/img/share-icons/google.png" alt="Google" />
        </a>
        
        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{postUrl}}" target="_blank" title="Share on LinkedIn">
            <img src="/img/share-icons/linkedin.png" alt="LinkedIn" />
        </a>
        
        <!-- Pinterest -->
        <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" title="Share on Pinterest">
            <img src="/img/share-icons/pinterest.png" alt="Pinterest" />
        </a>
        
        <!-- Print -->
        <a href="javascript:;" onclick="window.print()" title="Print">
            <img src="/img/share-icons/print.png" alt="Print" />
        </a>
        
        <!-- Reddit -->
        <a href="http://reddit.com/submit?url={{postUrl}}&amp;title={{title}}" target="_blank" title="Share on Reddit">
            <img src="/img/share-icons/reddit.png" alt="Reddit" />
        </a>
        
        <!-- StumbleUpon-->
        <a href="http://www.stumbleupon.com/submit?url={{postUrl}}&amp;title={{title}}" target="_blank" title="Share on StumbleUpon">
            <img src="/img/share-icons/stumbleupon.png" alt="StumbleUpon" />
        </a>
        
        <!-- Tumblr-->
        <a href="http://www.tumblr.com/share/link?url={{postUrl}}&amp;title={{title}}" target="_blank" title="Share on Tumblr">
            <img src="/img/share-icons/tumblr.png" alt="Tumblr" />
        </a>
         
        <!-- Twitter -->
        <a href="https://twitter.com/share?url={{postUrl}}&amp;name={{title}}&amp;hashtags=newmicroscope" target="_blank" title="Share on Twitter">
            <img src="/img/share-icons/twitter.png" alt="Twitter" />
        </a>
        
        <!-- VK -->
        <a href="http://vkontakte.ru/share.php?url={{postUrl}}" target="_blank" title="Share on VK">
            <img src="/img/share-icons/vk.png" alt="VK" />
        </a>
        
        <!-- Yummly -->
        <a href="http://www.yummly.com/urb/verify?url={{postUrl}}&amp;title={{title}}" target="_blank" title="Share on Yummly">
            <img src="/img/share-icons/yummly.png" alt="Yummly" />
        </a>
     
    </div>
</template>