<template name="commentNew">
    <form class="comment-form form" name="comment">
        <div class="form-group">
            <div class="controls">
                <label for="body">{{_ "comments.on_post"}}</label>
                <textarea class="form-control" 
                          name="body" 
                          id="body"
                          rows="3"
                          placeholder="{{_ "comments.introduce"}}"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{_ "comments.button_send"}}</button>
    </form>
</template>