<template name="commentNew">
    <form class="comment-form form" name="comment">
        <div class="form-group">
            <div class="controls">
                <label for="body">Comment on this post</label>
                <textarea class="form-control" 
                          name="body" 
                          id="body"
                          rows="3"
                          placeholder="Introduce your comment..."></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
</template>