<template name="header">
    <nav class="light-blue darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{ pathFor 'home' }}" class="brand-logo">{{_ "app_name"}}</a>

            <ul class="right hide-on-med-and-down">
                <li class="{{activeRouteClass 'home' 'newPosts'}}">
                    <a href="{{ pathFor 'newPosts' }}">{{_ "header.new"}}</a>
                </li>
                <li class="{{activeRouteClass  'bestPosts'}}">
                    <a href="{{ pathFor 'bestPosts' }}">{{_ "header.best"}}</a>
                </li>
                {{#if currentUser}}
                    <li class="{{activeRouteClass 'postSubmit'}}">
                        <a href="{{ pathFor 'postNew' }}">{{_ "header.new_post"}}</a>
                    </li>
                    {{> notifications id=1 }}
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="dropdown-user">
                            <i class="fa fa-user left"></i>
                            <i class="mdi-hardware-keyboard-arrow-down right"></i>
                        </a>
                    </li>
                {{else}}
                    <li class="{{isActiveRoute regex='signUp'}}"><a href="{{pathFor 'signUp'}}">{{_ "header.sign_up"}}</a></li>
                    <li class="{{isActiveRoute regex='signIn'}}"><a href="{{pathFor 'signIn'}}">{{_ "header.sign_in"}}</a></li>
                {{/if}}
            </ul>

            <ul id="nav-mobile" class="side-nav hide-on-large-only">
                <li class="{{activeRouteClass 'home' 'newPosts'}}">
                    <a href="{{ pathFor 'newPosts' }}">{{_ "header.new"}}</a>
                </li>
                <li class="{{activeRouteClass  'bestPosts'}}">
                    <a href="{{ pathFor 'bestPosts' }}">{{_ "header.best"}}</a>
                </li>
                {{#if currentUser}}
                    <li class="{{activeRouteClass 'postSubmit'}}">
                        <a href="{{ pathFor 'postNew' }}">{{_ "header.new_post"}}</a>
                    </li>
                    {{> notifications id=2 }}
                    <!-- Dropdown Trigger -->
                    <li>
                        <a href="#!">
                            <i class="fa fa-2 fa-power-off"></i>
                            <span class="truncate">{{_ "header.sign_out"}}</span>
                        </a>
                    </li>
                {{else}}
                    <li class="{{isActiveRoute regex='signUp'}}"><a href="{{pathFor 'signUp'}}">{{_ "header.sign_up"}}</a></li>
                    <li class="{{isActiveRoute regex='signIn'}}"><a href="{{pathFor 'signIn'}}">{{_ "header.sign_in"}}</a></li>
                {{/if}}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>
    <!-- Dropdown Structure -->
    <ul id="dropdown-user" class="dropdown-content">
        <!-- <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li> -->
        <li>
            <a href="#" id="sign-out">{{_ "header.sign_out"}}</a>
        </li>
    </ul>
</template>